/* Global Veriable */
:root {
    /* typography */
    --primary-font: "Montserrat", sans-serif;
    --headline-font: 'Source Serif Pro', serif;
    --primary-text-weight: 300;
    --base-font-size: 16px;

    /* color */
    --primary-color: #0763c5;
    --secondary-color: #6c757d;
    --tertiary-color: #94d2bd;
    --background-color: #f8f9fa;
    --accent-color-bright: #ffc107;
    --accent-color-dark: #ae2012;
    --neutral-color: #6c757d;
    --border-radius: 6px;

    /* Nested Variable */
    --header-bgColor: var(var(--neutral-color));
    --header-textColor: var(var(--tertiary-color));

    /* size */
    --border-radius: 6px;
}
/* 
use:
h1 {
    color: var(--primary-color);
}
*/


/* Local Veriable (scoped variable) */
h1 {
    --color: green;
    color: var(--color);
    background-color: var(--background-color);
}

/* Nested Variable */
body {
    font-family: var(--font-family);
}